<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        table.type02 {
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            line-height: 1.5;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            margin : 10px 5px;
        }
        table.type02 caption {
            padding: 10px;
            font-size: 10;
            font-weight: bold;
            vertical-align: top;
            text-align: center;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background: #ddd;
        }
        table.type02 th {
            padding: 10px;
            font-weight: bold;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            background: #eee;
        }
        table.type02 td {
            padding: 10px;
            vertical-align: top;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        table.type02 td.center {
            text-align: center;
   
        }
    </style>

    <title>Document</title>
</head>
<body>
    <h1>Welcome to my home page</h1>
    <h2>환영합니다.!</h2>

    <table class="type02">
        <caption><%=title%></caption>
        <tr>
          <th>Employee<br>Number</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Extension</th>
          <th>Email</th>
          <th>Officecode</th>
          <th>Reportsto</th>
          <th>Jobtitle</th>
          <th>&nbsp;</th>
        </tr>
        <% result.forEach((result, index)=>{ %>
          <tr>
            <td class="center"><%=result.employeeNumber%></td>
            <td><%=result.lastName%></td>
            <td><%=result.firstName%></td>
            <td><%=result.extension%></td>
            <td><%=result.email%></td>
            <td class="center"><%=result.officeCode%></td>
            <td class="center"><%=result.reportsTo%></td>
            <td><%=result.jobTitle%></td>
            <td>
              <input type="button" onclick="javascript:location.href='/updateMemo?id=<%=result.employeeNumber%>'" value="Edit">
              <input type="button" onclick="javascript:location.href='/deleteMemo?id=<%=result.employeeNumber%>'" value="Del">
            </td>
          </tr>
        <% }) %>
      </table>
</body>
</html>






