<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Failed to load resource: the server responded with a status of 404 (Not Found) 에러시 아래 2줄 -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title><%= tableInfo.tableNameKor %> 리스트</title>
    
    <style type="text/css">
        table.type02 {
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            line-height: 1.5;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            margin : 10px 5px;
        }
        table.type02 caption {
            padding: 10px;
            font-size: 10;
            font-weight: bold;
            vertical-align: top;
            text-align: center;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background: #ddd;
        }
        table.type02 tfoot {
            padding: 10px;
            font-size: 10;
            font-weight: bold;
            vertical-align: top;
            text-align: center;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background: #ddd;
        }
        table.type02 th {
            padding: 10px;
            font-weight: bold;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            background: #eee;
        }
        table.type02 td {
            padding: 5px;
            vertical-align: top;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
        table.type02 td.center {
            text-align: center;   
        }
    </style>

    <script src="http://code.jquery.com/jquery-latest.min.js">/*jquery 최신버전 사용*/</script>

    <script>
        

        $(document).ready(function(){
            $('input#btnSearch').click(function(){
                $.ajax({ url        : '/json/customers', // 요청 할 주소 
                         async      : true, // false 일 경우 동기 요청으로 변경
                         type       : 'GET', // GET, PUT
                         data       : {   
                                        <% 
                                        var cnt = 0
                                        var searchs = Object.keys(tableInfo.searchs) //키를 가져옵니다. 이때, keys 는 반복가능한 객체가 됩니다.
                                        for (var key in searchs) {
                                            console.log("key : " + key + ", value : " + searchs[key])
                                            if(cnt>0) {%>,<%} %> <%=searchs[key]%> : $('input[name=<%=searchs[key]%>]').val()
                                            <%
                                            cnt++;                                        
                                        }
                                        %>
                                      }, // 전송할 데이터                
                         dataType   : 'json', // xml, json, script, html                
                         beforeSend : function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단                
                         success    : function(jqXHR) { // 요청 완료 시        

                            var first = 0;
                            $('td#tdPages').empty();                            
                            for(page in jqXHR.pageList)
                            {
                                var a = (jqXHR.pageList[page] == jqXHR.currPage) ?'[' :'' ;
                                var b = (jqXHR.pageList[page] == jqXHR.currPage) ?']' :'' ;

                                var c = (first > 0) ?', ' :'' ;

                                var d = (jqXHR.pageList[page] != jqXHR.currPage) ?"<a  href='javascript:void(0)' class='aPage'>" :'' ;
                                var e = (jqXHR.pageList[page] != jqXHR.currPage) ?"</a>" :'' ;

                                $('td#tdPages').append(c+a+d+jqXHR.pageList[page]+e+b+"&nbsp;");
                                first++;
                            }
                            if(jqXHR.result.length === 0)
                            {
                                $('tbody#tbodyNodata').show();
                                $('tbody#tbodyData').hide()
                            } 
                            else {
                                $('tbody#tbodyNodata').hide()
                                $('tbody#tbodyData').show();
                            }
                                
                            $("#resultTable").find('tbody#tbodyData').children().remove ();
                            $.each(jqXHR.result, function(idx, item){
                                
                                $("#resultTable").find('tbody#tbodyData').append("<tr>");
                                <% 
                                const fields = Object.keys(tableInfo.fields) //키를 가져옵니다. 이때, keys 는 반복가능한 객체가 됩니다.
                                for (var key in fields) {                                    
                                    var field = fields[key]
                                    
                                    if (tableInfo.fields[field].isListView==true) {
                                        %>
                                        $("#resultTable").find('tbody#tbodyData').append("<td maxLength='<%=tableInfo.fields[field].maxLength%>'>"+item.<%=field%>+"&nbsp;</td>");
                                        <% 
                                    }
                                }
                                %>
                                $("#resultTable").find('tbody#tbodyData').append("</tr>");
                            });
                         }, 
                         error      : function(jqXHR) {}, // 요청 실패.                
                         complete   : function(jqXHR) { // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출});
                                $('a.aPage').on('click', function(){alert(this.text)})
                            }
                       })
            })
        })
    </script>
</head>
<body>

    


    <h1>Welcome to my home page</h1>

    <table class="type02">
        <tr>
            <th><%=tableInfo.searchs.customerName.nameKor%></th>
            <td><input name="customerName" type="text" maxLength="<%=tableInfo.searchs.customerName.maxLength%>"></td>

            <th><%=tableInfo.searchs.contactLastName.nameKor%></th>
            <td><input name="contactLastName" type="text" maxLength="<%=tableInfo.searchs.contactLastName.maxLength%>"></td>

            <td><input id="btnSearch" type="button" value="검색" /></td>
        </tr>
    </table>

    <table id="resultTable" class="type02">
        <caption><%= tableInfo.tableNameKor %> 리스트</caption>
        <thead>
            <tr>
                <% 
                let colLength = 0

                for(var key in fields) {                    
                    var field = fields[key]
                    console.log("key : " + key + ", value : " + fields[key])
                    console.log(`tableInfo.fields[${field}].isListView : ` +tableInfo.fields[field].isListView)
                    console.log(`tableInfo.fields[${field}].maxLength : ` +tableInfo.fields[field].maxLength)

                    if(tableInfo.fields[field].isListView) {
                        %>
                        <th><%=tableInfo.fields[field].nameKor%></th>
                        <% 
                        colLength++
                    }
                }
                %>
            </tr>
        </thead>
        <tbody id="tbodyNodata">
            <tr>
                <td colspan="<%=colLength%>" class="center">자료없음</tㅇ>
            </tr>
        </tbody>
        <tbody id="tbodyData" style="display: none;">
        </tbody>
        <tfoot>
            <tr>
                <td id="tdPages" colspan="<%=colLength%>" class="center"><< < > >></tㅇ>
            </tr>
        </tfoot>
    </table>

</body>
</html>
