<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 다크 모드 스타일시트 링크 -->
    <link href="/dir_statics/css/style.css" rel="stylesheet" type="text/css">

    <script src="/dir_statics/js/jquery-3.6.0.min.js">/*jquery 최신버전 사용*/</script>

    <title>Document</title>

    <%
    // 코어 자바스크립트 > 자료구조와 자료형 Object.keys, values, entries
    // https://ko.javascript.info/keys-values-entries 
    const fields = Object.keys(tableInfo.fields) //키를 가져옵니다. 이때, keys 는 반복가능한 객체가 됩니다.
    %>


    <script>
        function callAjax() {
                $.ajax({ url        : '/json/employee/<%=tableInfo.pk_value%>', // 요청 할 주소 
                         async      : true, // false 일 경우 동기 요청으로 변경
                         type       : 'GET', // GET, PUT
                         data       : { 
                                      }, // 전송할 데이터                
                         dataType   : 'json', // xml, json, script, html                
                         beforeSend : function(jqXHR) {}, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단                
                         success    : function(jqXHR) { // 요청 완료 시        
                            
                            console.log(jqXHR);

                            const employee = jqXHR.result[0]; // 단일 레코드, 첫 번째 값에 접근
                    
                            // 데이터 바인딩
                            <%
                            if (tableInfo.ackType == 'view')
                            {
                                %>
                                $("#employeeNumber").text(employee.employeeNumber);
                                $("#employeeLastName").text(employee.lastName);
                                $("#employeeFirstName").text(employee.firstName);
                                $("#extension").text(employee.extension);
                                $("#email").text(employee.email);
                                $("#officeCode").text(employee.officeCode);
                                $("#reportsTo").text(employee.reportsTo);
                                $("#jobTitle").text(employee.jobTitle);
                                <%
                            }
                            if (tableInfo.ackType == 'edit')
                            {
                                %>
                                // 데이터 바인딩
                                $("#employeeNumber").val(employee.employeeNumber);
                                $("#employeeLastName").val(employee.lastName);
                                $("#employeeFirstName").val(employee.firstName);
                                $("#extension").val(employee.extension);
                                $("#email").val(employee.email);
                                $("#officeCode").val(employee.officeCode);
                                $("#reportsTo").val(employee.reportsTo);
                                $("#jobTitle").val(employee.jobTitle);
                                <%
                            }
                            %> 
                            
                            // result 배열의 각 요소를 반복하여 출력
                            jqXHR.result.forEach((employee) => {
                                console.log("employee Number: "    + employee.employeeNumber);
                                console.log("Contact Last Name: "  + employee.contactLastName);
                                console.log("Contact First Name: " + employee.contactFirstName);
                                console.log("extension: "          + employee.extension);
                                console.log("email: "              + employee.email);
                                console.log("officeCode: "         + employee.officeCode);
                                console.log("reportsTo: "          + employee.reportsTo);
                                console.log("jobTitle: "           + employee.jobTitle);
                            });
                         }, 
                         error      : function(jqXHR) {}, // 요청 실패.                
                         complete   : function(jqXHR) { // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출});
                                                       }
                       })
        }

        callAjax();

        $(document).ready(function() {
            $('#object-edit-form').on('submit', function(event) {
                event.preventDefault(); // 폼의 기본 제출 동작을 막음

                // 폼 데이터를 수집
                var formData = new FormData(this);

                // FormData를 Object로 변환
                var data = {};
                formData.forEach(function(value, key){
                    data[key] = value;
                });

                // JSON으로 변환
                var jsonData = JSON.stringify(data);

                // 서버로 JSON 데이터를 POST 요청
                $.ajax({
                    url: '/json/employee',
                    type: ($('#ackType').val()=='insert') ? 'POST' : 'PUT',
                    contentType: 'application/json',
                    data: jsonData,
                    success: function(data) {
                        console.log(data);
                        alert('수정되었습니다.');

                        window.location.href = '/form/employee?currPage='+$('input[name=currPage]').val();
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            });

            // 저장 버튼을 클릭했을 때의 이벤트 핸들러
            $('.save-button').on('click', function(event) {
                $('#object-edit-form').submit();
            });
        });

    </script>
</head>
<body>
    <%
    if (tableInfo.ackType == 'view')
    {
        %>
        <h1>사원 정보 보기</h1>

        <!-- 사원 정보를 표시할 영역 -->
        <div id="object-info">
            <p><strong>사원 번호:</strong> <b><span id="employeeNumber"></span></b> </p>
            <p><strong>사원성:</strong>       <span id="employeeLastName"></span>   </p>
            <p><strong>사원명:</strong>       <span id="employeeFirstName"></span>  </p>
            <p><strong>확장:</strong>         <span id="extension"></span>          </p>
            <p><strong>메일:</strong>         <span id="email"></span>              </p>
            <p><strong>부서코드:</strong>     <span id="officeCode"></span>         </p>
            <p><strong>상사코드:</strong>     <span id="reportsTo"></span>          </p>
            <p><strong>직군:</strong>         <span id="jobTitle"></span>           </p>
        </div>
        <%
    }
    if (tableInfo.ackType == 'edit')
    {
        %>
        <h1>사원 정보 편집</h1>

        <!-- 사원 정보 편집 폼 -->
        <form id="object-edit-form">
            <div class="form-group">
                <label for="employeeLastName"><strong>사원성:</strong></label>
                <input type="text" id="employeeLastName" name="employeeLastName">
            </div>
            <div class="form-group">
                <label for="employeeFirstName"><strong>사원명:</strong></label>
                <input type="text" id="employeeFirstName" name="employeeFirstName">
            </div>
            <div class="form-group">
                <label for="extension"><strong>확장:</strong></label>
                <input type="text" id="extension" name="extension">
            </div>
            <div class="form-group">
                <label for="email"><strong>메일:</strong></label>
                <input type="text" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="officeCode"><strong>부서코드:</strong></label>
                <input type="text" id="officeCode" name="officeCode">
            </div>
            <div class="form-group">
                <label for="reportsTo"><strong>상사코드:</strong></label>
                <input type="text" id="reportsTo" name="reportsTo">
            </div>
            <div class="form-group">
                <label for="jobTitle"><strong>직군:</strong></label>
                <input type="text" id="jobTitle" name="jobTitle">
            </div>

            <input type="hidden" name="ackType" id="ackType" value=<%=tableInfo.ackType%>>
            <input type="hidden" name="currPage" value=<%=tableInfo.currPage%> /> <!-- 현재 페이지를 화면에서 기억하도록 한다.. -->
            
            <div class="button-container">
               <input type="button" class="save-button" value="저장">
               <input id="btnCancel" type="button" class="cancel-button" onclick="window.history.back();" value="취소" />
           </div>
        </form>
        <%
    }

    if (tableInfo.ackType == 'insert') // 추가일때
    {
        %>
        <h1>사원 정보 추가</h1>

        <!-- 사원 정보 편집 폼 -->
        <form id="object-edit-form">
            <div class="form-group">
                <label for="employeeLastName"><strong>사원성:</strong></label>
                <input type="text" id="employeeLastName" name="employeeLastName">
            </div>
            <div class="form-group">
                <label for="employeeFirstName"><strong>사원명:</strong></label>
                <input type="text" id="employeeFirstName" name="employeeFirstName">
            </div>
            <div class="form-group">
                <label for="extension"><strong>확장:</strong></label>
                <input type="text" id="extension" name="extension">
            </div>
            <div class="form-group">
                <label for="email"><strong>메일:</strong></label>
                <input type="text" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="officeCode"><strong>부서코드:</strong></label>
                <input type="text" id="officeCode" name="officeCode">
            </div>
            <div class="form-group">
                <label for="reportsTo"><strong>상사코드:</strong></label>
                <input type="text" id="reportsTo" name="reportsTo">
            </div>
            <div class="form-group">
                <label for="jobTitle"><strong>직군:</strong></label>
                <input type="text" id="jobTitle" name="jobTitle">
            </div>

            <input type="hidden" name="ackType" id="ackType" value=<%=tableInfo.ackType%>>
            <input type="hidden" name="currPage" value=<%=tableInfo.currPage%> /> <!-- 현재 페이지를 화면에서 기억하도록 한다.. -->
            
            <div class="button-container">
               <input type="button" class="save-button" value="저장">
               <input id="btnCancel" type="button" class="cancel-button" onclick="window.history.back();" value="취소" />
           </div>
        </form>

        <%
    }
    %>

</body>

</html>